.proclass{
    margin-left: 40%;
    margin-right: 40%;
    background-color: #EA738D;
    padding: 10px;
    border: solid black;
}
#btn{
    margin-left: 25%;
    background-color: #89ABE3;

}
.formclass{
    margin-left: 20px;
}
