<div class="container">
<table class="table">
    <thead>
        <br>
        <br>
        <br>
      <tr>
        <th scope="col">SI</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      
    
    </tbody>

    <tr *ngFor="let i of values">
      <th scope="row">1</th>
      <td>{{i.pName}}</td>
      <td>{{i.pQuantity}}</td>
            <td>{{i.pPrice}}</td>
      <!-- <td> <img src="{{i.images[0]}}" width="200px alt="></td> -->
    </tr>
  </table>
</div>
